@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anton'), local('Anton-Regular'), url(https://fonts.googleapis.com/css2?family=Anton&display=swap) format('woff2');
}

html, body {
    html, body {
        overflow-x: hidden ;
        overflow-y: hidden ;
        ; /* Disable vertical scrolling */

      }
      
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .gradient {
    --size: 900px;
    --speed: 30s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 1000;
    inset: 0;
    z-index: -1;
  }
  
  .emojis {
    position: absolute;
    bottom: -50px; /* Set the initial position to be off-screen */
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    transform-style: preserve-3d;
    opacity: 0; /* Initially set opacity to 0 */
    border: 1px solid transparent; /* Added border to prevent triggering scrollbar */
    animation: fadeIn 1s ease-in-out forwards; /* Apply the fadeIn animation */
  }
  
  $emoji-total: 10;
  
  @for $i from 1 through $emoji-total {
    $animation-delay: random(2) + 1s;
    $animation-duration: random(15) + 3s;
    $scale: random(2) - .4;
  
    .emojis:nth-child(#{$i}) {
      left: random(120) * 1% - 20;
      animation: raise#{$i} $animation-duration linear infinite;
      animation-delay: $animation-delay;
      transform: scale($scale) rotate(random(360) + deg);
      z-index: $i - 7;
  
      @keyframes raise#{$i} {
        from {
          bottom: -50px;
          opacity: 0;
        }
        to {
          bottom: 100vh; /* Adjusted endpoint */
          opacity: 1;
          transform: scale($scale) rotate(random(360) + deg);
        }
      }
      
    }
  }
  
  
  .main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #f4ebeb;
    position: relative;
    z-index: 1;
    background-color: #222;
    text-align: center;
    height: 100vh !important;
    overflow-x: hidden ;
    overflow-y: hidden ;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: fadeIn 1s ease-in-out forwards; /* Apply the fadeIn animation */
  }
  
  button {
    margin: 20px;
    font-family: 'Anton', 'Fjalla One', sans-serif;
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeIn 1s ease-in-out forwards; /* Apply the fadeIn animation */
    animation-delay: 0.5s; /* Delay the button animation by 0.5 seconds */
    transform: scale(1.1);
  }

  button:hover {
    transform: scale(1.3);
  }
  
  button.primary {
    background-color: #007bff;
    color: #fff;
  }
  .button-container {
    justify-content: center !important;
    align-items: center;
  }