@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');
.movie-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #222;
    min-height: 100vh;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #8f8888;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 40px;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info-text {
    flex: 1;
  }
  
  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .favorite-movies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  
  }
  .subtitle {
    margin-bottom: 0px;
  }
  
  .movie-card-title {
    margin-top: 30px;
  }
  
  .movie-card-subtitle {
    margin-top: 10px;
    color: #b6b2b2;
  }
  
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .movie-card {
    width: 250px;
    height: 500px;
    margin: 20px;
    background: #726666;
    color: whitesmoke;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .mat-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .mat-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
  }
  

  .no-favorites-message {
    width: 100%;
    text-align: center;
    background: #222;
    color: #484646;
    box-shadow: none;

    padding: 20px;
    margin: 20px;
  }
  
  h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;

  }

  @media (max-width: 480px) {
   
    .movie-page {
    //   padding: 10px;
    }
  
    .profile {
    text-align: center;
    }
  
   .subtitle {
    margin-left: 0px !important;
   }
   .mdc-button {
    font-size: 14px !important;
   }
   .profile-picture {
    display: none;
  }

  }